{% extends 'base.html.twig' %}

{% block title %}Saisie des maquettes{% endblock %}

{% block body %}
    <h1>Saisie des maquettes</h1>

<p>Ce site permet de saisir les maquettes pour l'accréditation 2024-2028</p>
    <h3>Les mentions auxquelles j'ai accès :</h3>
    <p><a href="{{ path('mentions.voir') }}">Voir</a></p>
    <p><a href="{{ path('mention.creer') }}">Créer une mention</a></p>
   {% if mentions|length >0 %}
    <h3>La mention dont je suis responsable :</h3>
{%for mention in mentions %}
    <p><a href="{{ path('mention.voir',{id:mention.id}) }}">{{ mention.titre }}</a></p>
{% endfor %}
   {% endif %}
    {% if parcours|length >0 %}
    <h3>Le parcours dont je suis responsable :</h3>
    {%for p in parcours %}
        <p><a href="{{ path('p.voir',{id:p.id}) }}">{{ p.titre }}</a></p>
    {% endfor %}
    {% endif %}

    <h3>Ressources utiles :</h3>
    <ul>
        <li>La lettre de cadrage</li>
        <li>Le cours Moodle sur l'APC avec sa FAQ</li>
    </ul>
{% endblock %}

{% block sidebar_title %}
<h3>Bienvenue</h3>
{% endblock %}

{% block sidebar %}
    <p>Ce bloc d'aide est contextuel à chaque page.</p>
    <p>Pour créer votre maquette de niveau 2, créez dans l'ordre :</p>
    <ul>
        <li>La mention</li>
        <li>Les parcours de la mention</li>
        <li>Les blocs de compétences</li>
        <li>La maquette</li>
    </ul>

{% endblock %}