{% extends 'base.html.twig' %}

{% block title %}Liste des blocs{% endblock %}

{% block body %}
    <h1>Liste des blocs, niveaux et apprentissages critiques de la mention</h1>
    <p><a class="btn btn-primary" href="{{ path('bloc.creer',{id:mention.id}) }}">Ajouter un bloc</a>
    <a class="btn btn-secondary" href="{{ path('mention.voir',{id:mention.id}) }}">Retour</a>
    </p>
    {% for bloc in blocs %}
        <div class="card">
            <div class="card-header">
                <h2>{{ bloc.libelle }}</h2>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <a href="{{ path('bloc.modifier', {'id': bloc.id}) }}">Modifier</a> |
                    <a href="{{ path('niveau.creer', {'id': bloc.id}) }}">Ajouter Niveau</a>
                </p>
                    <div class="card-group">
                    {# dump(bloc.competences) #}
                    {% for competence in bloc.competences %}
                        {% for niveau in competence.niveaux %}
                        <div class="card">
                            <div class="card-header">
                                Niveau {{ niveau.niveau }} - {{ niveau.description }} <a href="{{ path('niveau.modifier',{id:niveau.id}) }}">Modifier</a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Apprentissages critiques</h5>
                                <div class="card-text">
                                    <ul>
                                        {# dump(niveau) #}
                                        {% for ac in niveau.apprentissagesCritiques %}
                                        <li>{{ ac.libelle }}</li>
                                        {% endfor %}
                                    </ul>
                                    <p><a href="{{ path('ac.creer', {'id': niveau.id}) }}">+ Apprentissage Critique</a></p>
                                    <p><strong>Parcours :</strong></p>
                                    <ul>
                                    {% for parcours in niveau.parcours %}
                                            <li>{{ parcours.titre }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endfor %}
                    </div>
            </div>
        </div>
        <br />
    {% endfor %}

{% endblock %}
{% block sidebar_title %}
<h2>Les blocs de la mention</h2>
{% endblock %}
{% block sidebar %}
<p>On construit ici l'ensemble des blocs de la mention, tous parcours confondus.
    Cela permet de créer les blocs communs à différents parcours d'être créé une seule fois.</p>
    <p>Pour chaque bloc de compétences :</p>
        <ul>
            <li>créer des niveaux (en général, 1 niveau par année de formation, mais d'autres modèles sont possibles</li>
            <li>ajouter des apprentissages critiques</li>
            <li>associer des parcours</li>
        </ul>
    <p>Pour modifier ou supprimer un apprentissage critique, modifiez le niveau concerné.</p>
{% endblock %}