{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

<h1>{{ utilisateur.prenom }} {{ utilisateur.nom }}</h1>
    <p>{{ utilisateur.mail }}</p>
<p><a href="{{ path('utilisateur.modifier',{id:utilisateur.id}) }}">Modifier</a></p>
    <form action="{{ path('utilisateur.supprimer',{id:utilisateur.id}) }}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Supprimer">
    </form>
{% endblock %}
