{% extends 'base.html.twig' %}

{% block title %}Les ressources{% endblock %}

{% block body %}
    <h1>Les ressources</h1>
    <p>
        <a class="btn btn-primary" href="{{ path('ressource.creer',{id:mention.id}) }}">Créer une ressource</a>
        <a class="btn btn-secondary" href="{{ path('mention.voir',{id:mention.id}) }}">Retour</a>
    </p>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Libellé</th>
                <th>Niv</th>
                <th>Typologie</th>
                <th>Commun Mention</th>
                <th>CI</th>
                <th>CM</th>
                <th>TD</th>
                <th>TP</th>
                <th>Hybride</th>
                <th>Projet Autonomie</th>
                <th>Expr</th>
                <th>TEDS</th>
                <th>MTU</th>
                <th>Pro</th>
                <th>Internationale</th>
                <th>PIX</th>
                <th>Informationnelle</th>
                <th>VSSH</th>
                <th>Num</th>
                <th>Recherche</th>
                <th>Collab</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ressource in ressources %}
                <tr>
                    <td>{{ ressource.libelle }}</td>
                    <td>{{ ressource.niveau }}</td>
                    <td>{{ ressource.typologie.libelle }}</td>
                    {%  if ressource.commun == 1 %}
                    <td class="bg-success"></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td>{{ ressource.ci }}</td>
                    <td>{{ ressource.cm }}</td>
                    <td>{{ ressource.td }}</td>
                    <td>{{ ressource.tp }}</td>
                    {%  if ressource.hybride == 1 %}
                        <td class="bg-success"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ ressource.projetAutonomie }}</td>

                    {%  if ressource.ctExpression == 1 %}
                        <td class="bg-success"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {%  if ressource.ctTeds == 1 %}
                        <td class="bg-success"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {%  if ressource.ctMtu == 1 %}
                        <td class="bg-success"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {%  if ressource.ctProfessionnelle == 1 %}
                        <td class="bg-success"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {%  if ressource.ctInternationale == 1 %}
                        <td class="bg-success"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {%  if ressource.ctNumeriquePix == 1 %}
                        <td class="bg-success"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {%  if ressource.ctInformationnelle == 1 %}
                        <td class="bg-success"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {%  if ressource.vssh == 1 %}
                        <td class="bg-success"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {%  if ressource.ctNumerique == 1 %}
                        <td class="bg-success"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {%  if ressource.ctRecherche == 1 %}
                        <td class="bg-success"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {%  if ressource.ctCollaboratif == 1 %}
                        <td class="bg-success"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>
                        <a href="{{ path('ressource.modifier', {'id': ressource.id}) }}"><i class="bi bi-pencil-square" style="color:black;"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block debug %}

{% endblock %}
