{% extends 'base.html.twig' %}

{% block title %}Liste des mentions{% endblock %}

{% block body %}
        <h1>{{ mention.grade.grade }} {{ mention.titre }}</h1>
    <p><a class="btn btn-primary" href="{{ path('parcours.creer',{id:mention.id}) }}">Créer un parcours</a>
        <a class="btn btn-primary" href="{{ path('blocs.voir',{id:mention.id}) }}">Gérer les blocs</a>
        <a class="btn btn-primary" href="{{ path('ressources.voir',{id:mention.id}) }}">Gérer les ressources</a>
        <a class="btn btn-secondary" href="{{ path('mentions.voir') }}">Retour</a>
    </p>
    <p><strong>Responsable :</strong> {{ mention.resp.prenom }} {{ mention.resp.nom }}</p>
    <p><strong>Fiche RNCP :</strong> {{ mention.rncp }} <a href="https://www.francecompetences.fr/recherche/rncp/{{ mention.rncp }}/"> (voir)</a></p>
    <p><strong>Parcours de cette mention :</strong></p>
    {% if parcours is empty %}
        <p>Aucun parcours pour cette mention</p>
    {% else %}
        <table class="table">
        <thead>
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Responsable</th>
            <th scope="col">Référent parcours étudiant</th>
            <th scope="col">Durée minimale du stage</th>
            <th scope="col">Durée maximale du stage</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
    {% for p in parcours %}
            <tr>
                <td>{{ p.titre }}</td>
                <td>{{ p.resp.prenom }} {{ p.resp.nom }}</td>
                <td>{{ p.referent}}</td>
                <td>{{ p.minStage }}</td>
                <td>{{ p.maxStage }}</td>
                <td><a href="{{ path('p.voir',{id:p.id}) }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Voir"><i class="bi bi-eye" style="color:black"></i></a>
                    <a href="{{ path('parcours.voirReferentiel',{id:p.id}) }}" title="Référentiel du parcours"><i class="bi bi-journal-text" style="color:black"></i></a>
                    <a href="{{ path('parcours.modifier',{id:p.id}) }}" title="Modifier le parcours">
                        <i class="bi bi-pencil-square" style="color:black"></i></a></td>
            </tr>
    {% endfor %}
        </table>
    {% endif %}

{% endblock %}

{% block sidebar_title %}
    <h2>Gérer la mention</h2>
{% endblock %}

{% block sidebar %}
    <p>Cette page affiche les paramètres de la mention : le nom du responsable, la fiche RNCP, les parcours de cette mention.</p>
<p>Pour créer le référentiel de chaque parcours, vous devez d'abord créer les blocs de compétences.
    Créez tous les blocs de tous les parcours dans cette page de la mention. Cela permet de ne saisir les blocs communs à plusieurs parcours qu'une fois.</p>
    <p>Vous pourrez ensuite afficher les référentiels de chaque parcours.</p>
{% endblock %}
