{% extends 'base.html.twig' %}

{% block title %}Référentiel{% endblock %}

{% block body %}
    <h1>Référentiel</h1>
    <p><a class="btn btn-secondary" href="{{ path('mention.voir',{id:parcours.mention.id}) }}">Retour</a></p>
    {% for bloc in blocs %}
        <br />
        <div class="card">
            <div class="card-header">
                <h2>{{ bloc.libelle }}</h2>
            </div>
            <div class="card-body">
            {% for competence in bloc.competences %}
                <p class="card-text">{{ competence.libelle }}</p>
                    <div class="card-group">
                    {% for n in competence.niveaux %}
                        {% for np in niveaux %}
                            {% if n == np %}
                            <div class="card">
                                <div class="card-header">
                                    Niveau {{ n.niveau }} - {{ n.description }}
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Apprentissages critiques</h5>
                                    <div class="card-text">
                                    <ul>
                                        {% for ac in n.apprentissagesCritiques %}
                                        <li>{{ ac.libelle }}</li>
                                        {% endfor %}
                                    </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </div>
            {% endfor %}
            </div>
        </div>
    {% endfor %}
        <br />

{% endblock %}
{% block sidebar_title %}
<h2>Le référentiel du parcours</h2>
{% endblock %}
{% block sidebar %}
<p>Cette page affiche le référentiel attaché au parcours.</p>
    <p>Vous ne pouvez pas modifier le référentiel sur cette page.</p>
    <p>Pour modifier le référentiel, affichez la page de la <a href="{{ path('mention.voir',{id:parcours.mention.id}) }}">mention</a>, puis cliquez sur "<a href="{{ path('blocs.voir',{id:parcours.mention.id}) }}">Gérer les blocs</a>".</p>
{% endblock %}