{% extends 'base.html.twig' %}

{% block title %}Modifier un niveau{% endblock %}

{% block body %}
    <h1>Modifier le niveau</h1>
    <a class="btn btn-secondary" href="{{ path('blocs.voir', {id: niveau.competence.bloc.mention.id}) }}">Retour</a>
<h2>Données du niveau</h2>
{{ form(form) }}

    <h2>Apprentissages critiques</h2>
    <ul>
        {% for ac in niveau.apprentissagesCritiques %}
            <li>{{ ac.libelle }} <a href="{{ path('ac.modifier',{id:ac.id}) }}">Modifier</a> <a href="{{ path('ac.supprimer',{id:ac.id}) }}">Supprimer</a></li>
        {% endfor %}
    </ul>

    <h2>Zone de danger</h2>
    <p>Attention, la suppression du niveau est immédiate et irréversible.</p>
    <form action="{{ path('niveau.supprimer', {'id': niveau.id}) }}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="token" value="{{ csrf_token('delete' ~ niveau.id) }}">
        <button type="submit" class="btn btn-danger">Supprimer</button>
    </form>


{% endblock %}
